@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import"./layout.css";

:root {
  --swnr-c-dark: #191813;
  --swnr-c-faint: #c9c7b8;
  --swnr-c-beige: #b5b3a4;
  --swnr-c-tan: #444444;
  --swnr-c-white: #ffffff;
  --swnr-c-black: #000000;
  --swnr-c-groove: #eeede0;
}

.theme-dark {
  --swnr-c-dark: #c9c7b8;
  --swnr-c-faint: #191813;
  --swnr-c-beige: #444444;
  --swnr-c-tan: #b5b3a4;
  --swnr-c-white: #000000;
  --swnr-c-black: #ffffff;
  --swnr-c-groove: #11121f;
}

.swnr { 
  --background-portrait-image: url("../../../../ui/parchment-white.jpg");
  --portrait-icon-color: rgb(124,124,124);
  --health-bar-color: linear-gradient(45deg, rgba(48,121,22,1) 0%, rgba(97,190,80,1) 100%);
  --strain-bar-color: linear-gradient(45deg, rgba(29,131,170,1) 0%, rgba(80,190,183,1) 100%);
  --stowed-bar-color: linear-gradient(45deg, rgb(183, 116, 0) 0%, rgb(225, 167, 50) 100%);
  --over-filled-bar-color: linear-gradient(45deg, rgb(199, 57, 57) 0%, rgb(219 108 108) 100%);
  /* Replace with defined theme colors? */
  --border-color: rgb(170,170,170);
  
  --font-color: rgb(28,28,28);
  --second-font-color: rgb(71, 71, 71);
  --active-font-color: rgb(5, 99, 150);
  --input-focus-color: rgb(5, 99, 150);
}

/* Styles limited to swnr sheets */
.swnr .item-form {
  font-family: "Roboto", sans-serif;
}

.swnr input[type="text"].field,
.swnr input[type="number"].field,
.swnr div.field {
  font-size: 14px;
  /* padding: 2px; */
  margin: 2px;
  border: none;
  border-bottom: 1px solid var(--swnr-c-dark);
  border-radius: 4px;
  border-radius: 0%;
  /* background: var(--swnr-c-white); */
  background: none;
  color: var(--swnr-c-dark);
  outline: 1px solid transparent;
  height: var(--input-height);
  line-height: var(--input-height);
  user-select: text;
  transition: outline-color 0.5s;
  min-width: 20px;
} 

.swnr div.field {
  padding-top: 0px;
}

.swnr .nested-sep {
  margin: 0px;
  padding: 0px;
}

.swnr input[type="text"].nested-field,
.swnr input[type="number"].nested-field{
  border: none;
  background: transparent;
  padding: 0px;
  margin: 0px;
  outline: none;
  color: inherit;
  font-size: inherit;
  width: calc(50% - 30px);
  height: 100%;
}

.swnr input.short-field {
  width: 40px;
}

.swnr input[type="text"].field:focus,
.swnr div.field:focus {
  outline-color: var(--swnr-c-dark);
  /* outline: 2px solid var(--input-focus-outline-color); */
}

.swnr .sheet-header {
  flex: 0 auto;
  /* overflow: hidden; TODO */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.swnr .sheet-header div.profile-img,
.swnr .sheet-header div.item-img {
  margin-right: 10px;
}

.swnr .sheet-header .profile-img,
.swnr .sheet-header .item-img {
  width: 150px;
  max-width: 150px;
  height: 150px;

  border-radius: 50%;
  border: 1px solid var(--border-color);

  box-shadow: 0 0 10px inset rgb(0,0,0,0.4);
  background: var(--background-portrait-image);
  background-size: 150px;

  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.swnr .sheet-header .item-img {
  width: 100px;
  max-width: 100px;
  height: 100px;

  border-radius: 0%;
  background-size: 100px;
}

.swnr .sheet-header  img.profile-img,
.swnr .sheet-header  img.item-img {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 50%;
  margin-right: 0px;

  position: absolute;
}

.swnr .sheet-header  img.item-img {
  border-radius: 0%;
}


.swnr .portrait-button{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;

  background: var(--background-portrait-image);
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px inset rgb(0,0,0,0.4);
  
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.swnr .portrait-button i{
  color: var(--portrait-icon-color);
}

.swnr .portrait-button i.d20-glowing{
  color: var(--active-font-color);
  animation: pulse 3s infinite;
}

.swnr .portrait-button:hover i{
  color: var(--font-color);
  animation: unset;
}

.swnr .portrait-button:hover{
  border: 1px solid var(--input-focus-color);
}

/* Sets the position of the health-bar and strain-bar and sets it to the propper size. */
.swnr .health-bar, .swnr .strain-bar{
  position: relative;
  bottom: -10px;

  width: 80%;
  height: 20px;

  border: 1px solid var(--border-color);

  box-shadow: 0 0 5px inset rgb(0,0,0,0.4);
  background-color: whitesmoke;
}

.swnr .health-bar .health-fill{
  background: var(--health-bar-color);
  height: 100%;
}

.swnr .strain-bar .strain-fill{
  background: var(--strain-bar-color);
  height: 100%;
}

/* Positions the HP text in the center of the healthbar or strainbar */
.swnr .health-text, .swnr .strain-text{
  display: flex;
  position: relative;
  top: -100%;
  
  width: 100%;
  height: 100%;

  justify-content: center;
}

.swnr .sheet-header .header-fields {
  flex: 1;
}
.swnr .sheet-tabs {
  flex: 0;
}
.swnr .sheet-body,
.swnr .sheet-body .tab,
.swnr .sheet-body .tab .editor {
  height: 100%;
  overflow-y: scroll;
}
.swnr .tab.biography {
  flex: 1;
}
.swnr .tab.biography .editor {
  height: 100%;
}
.swnr .tox .tox-editor-container {
  background: var(--swnr-c-white);
}
.swnr .tox .tox-edit-area {
  padding: 0 8px;
}
.swnr .resource-label {
  font-weight: bold;
  font-size: 12px;
}
.swnr .stat {
  margin-bottom: 2px;
}
.swnr .stat-score,
.swnr .stat-mod {
  flex: 0 0 44px;
}

.swnr input[type="checkbox"].small-checkbox {
  width: 15px;
  height: 15px;
  margin: 0px;
  --checkbox-size: 15px;
}

.swnr .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--swnr-c-groove);
  font-weight: bold;
}
.swnr .items-header > * {
  font-size: 14px;
  text-align: center;
}
.swnr .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.swnr .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--swnr-c-tan);
}
.swnr .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.swnr .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.swnr .items-list .item-name h3, .swnr .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.swnr .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.swnr .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.swnr .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--swnr-c-faint);
}
.swnr .items-list .item:last-child {
  border-bottom: none;
}
.swnr .items-list .item .item-name {
  color: var(--swnr-c-dark);
}
.swnr .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.swnr .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.swnr .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--swnr-c-groove);
  font-weight: bold;
}
.swnr .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.swnr .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.swnr .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.swnr .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--swnr-c-groove);
  font-weight: bold;
}
.swnr .effects-header > * {
  font-size: 14px;
  text-align: center;
}
.swnr .effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.swnr .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--swnr-c-tan);
}
.swnr .effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.swnr .effects-list .effect-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.swnr .effects-list .effect-name h3, .swnr .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.swnr .effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.swnr .effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.swnr .effects-list .effect {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--swnr-c-faint);
}
.swnr .effects-list .effect:last-child {
  border-bottom: none;
}
.swnr .effects-list .effect .effect-name {
  color: var(--swnr-c-dark);
}
.swnr .effects-list .effect .effect-name .effect-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.swnr .effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.swnr .effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--swnr-c-groove);
  font-weight: bold;
}
.swnr .effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.swnr .effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.swnr .effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.swnr .effects .item .effect-source,
.swnr .effects .item .effect-duration,
.swnr .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.swnr .effects .item .effect-controls {
  border: none;
}
