foundry/*
node_modules/
.idea
/packs/
scripts/input/*
scripts/output/*
scripts/conversion/input/*
scripts/conversion/output/*
.DS_Storegit status
.claude
scripts/csv-import/data/*
scripts/csv-import/output/*
/docs/rules
/scripts/wwn-importer/output/*