foundry/*
node_modules/
.idea
/packs/
scripts/input/*
scripts/output/*
scripts/conversion/input/*
scripts/conversion/output/*
.claude
scripts/csv-import/data/*
scripts/csv-import/output/*
/docs/rules
/scripts/wwn-importer/output/*
*DS_Store*
src/packs/swnr-documentation/release_notes_Gq9tLm4ZRxv8pAy2.yml
*venv*