.chat-message{
    .card-buttons {
        width: 60%;
        padding: 4px;
        margin: auto;
      }
      
      .card-show-buttons {
        width: 60%;
        padding: 4px;
        margin: auto;
      }
      
      .chat-button-small {
        width: 22px;
        height:22px;
        font-size:10px;
        line-height:1px
      }      
}