// System Vars

.swnr {
  --background-portrait-image: url("../../../../ui/parchment-white.jpg");
  
  --portrait-icon-color: rgb(124,124,124);
  --health-bar-color: linear-gradient(45deg, rgba(48,121,22,1) 0%, rgba(97,190,80,1) 100%);
  --strain-bar-color: linear-gradient(45deg, rgba(29,131,170,1) 0%, rgba(80,190,183,1) 100%);
  --ready-bar-color: linear-gradient(45deg, rgba(48,121,22,1) 0%, rgba(97,190,80,1) 100%);
  --stowed-bar-color: linear-gradient(45deg, rgb(183, 116, 0) 0%, rgb(225, 167, 50) 100%);
  --effort-bar-color: linear-gradient(45deg, rgb(90,40, 150) 0%, rgb(100, 50, 160) 100%);
  --over-filled-bar-color: linear-gradient(45deg, rgb(199, 57, 57) 0%, rgb(219 108 108) 100%);
  /* Replace with defined theme colors? */
  --border-color: rgb(170,170,170);

  --font-color: rgb(28,28,28);
  --second-font-color: rgb(71, 71, 71);
  --active-font-color: rgb(5, 99, 150);
  --input-focus-color: rgb(5, 99, 150);
}