{{! Gear Tab }}
<section class='tab programs {{tab.cssClass}}' data-group='primary' data-tab='programs'>

  <div class="flex flex-col"> <!--programs -->
    {{!-- {{> "systems/swnr/templates/actor/fragments/programs-list.hbs" itemList=actor.itemTypes.weapon  type='active' name='Active' }}
    {{> "systems/swnr/templates/actor/fragments/programs-list.hbs" itemList=actor.itemTypes.armor  type='verb' name='Verb'}}
    {{> "systems/swnr/templates/actor/fragments/programs-list.hbs" itemList=actor.itemTypes.item  type='subject' name='Subject' }}
    {{> "systems/swnr/templates/actor/fragments/programs-list.hbs" itemList=actor.itemTypes.item  type='data' name='Data' }} --}}
  </div>

</section>