<section class='tab mech sheet-body {{tab.cssClass}}' data-group='primary' data-tab='mech'>
  <div class='sheet-cols'>

<div class='grid grid-4col'> <!-- SWNRMechData extends SWNRVehicleTemplateBase-->
  <div class="resource">
   {{formGroup systemFields.maintenanceCost value=system.maintenanceCost localize=true}}
  </div>
  {{!-- <div class="resource">
   {{formGroup systemFields.mechClass value=system.mechClass localize=true}}
  </div> --}}
  <div class="resource">
   {{formGroup systemFields.mechHullType value=system.mechHullType localize=true}}
  </div>
</div><!-- end grid-col SWNRMechData extends SWNRVehicleTemplateBase -->

  </div>
</section>