<section class='tab ship shipCombat sheet-body {{tab.cssClass}}' data-group='primary' data-tab='shipCombat'>
  <div class="grid grid-cols-3">
    <div class="resource">
      {{formGroup systemFields.commandPoints value=system.commandPoints localize=true}}
    </div>
    <div class="resource">
      {{formGroup systemFields.npcCommandPoints value=system.npcCommandPoints localize=true}}
    </div>
  </div>
</section>