<div class="chat-card">
  <h3>Welcome to the Systems Without Number (Redux) for Foundry VTT (SWN/CWN/AWN)</h3> 
  <p>Note that AWN and CWN settings, such as stress and trauma, may need to be set in the system settings (under configure settings). AWN support is just starting. Support for WWN will likely come soon.</p>
  
  <p>This a complete rewrite of the SWNR system so you may encounter bugs and the UI will likely change some over the coming releases. Please report any bugs or issues you encounter to the <a href="https://github.com/wintersleepAI/swnr/issues" target="_blank">GitHub repository</a>.
  </p>

  <p>We have done extensive testing of migration of game worlds from the old system to this one, but you should keep a back up of the old world.<b>Note if this is the first time using an old game you will need to refresh your browser (f5 or reload) for foci and edges to show up with the new item type "feature".</b></p>

  <p><b>Note the unlock button by character names.</b> You need to toggle this to make certain changes, like skills.</p>
</div>