<div class="chat-card">
  <h3>Welcome to the Systems Without Number (Redux) for Foundry VTT (SWN/CWN/AWN/WWN)</h3> 
  <p>AWN and CWN settings (i.e., stress and trauma) may need to be set in the system settings. AWN and WWN features are in progress.</p>
  
  <p><b>If this is the first time using an old game you will need to refresh your browser (f5 or reload) for foci and edges to show up with the new item type "feature".</b></p>

  <p><b>Note the unlock button by character names.</b> You need to toggle this to make certain changes, like skills. Please report any bugs or issues you encounter to the <a href="https://github.com/wintersleepAI/swnr/issues" target="_blank">GitHub repository</a></p>
</div>