<div class="chat-card">
  <h3>Welcome to the SWN/CWN/AWN System for Foundry VTT</h3> 
  <p>Note that AWN and CWN settings, such as stress and trauma, may need to be set in the system settings (under configure settings). AWN support is just starting. Support for WWN will likely come soon.</p>
  
  <h3>Beta Testing</h3>
  <p>Thank you for participating in the beta test of the SWN: Revised system for Foundry VTT. This system is still in development, and your feedback is invaluable to making it the best it can be. Please report any bugs or issues you encounter to the <a href="https://github.com/wintersleepAI/swnr-redux/issues" target="_blank">GitHub repository</a>.
  <b>Please only report bugs and not desired features at this time. We also know that the system UI/CSS needs some clean-up but that will happen after we get the system out.</b>
  </p>

  <b>You should have made a back up of any existing world, which you should save in case we need to patch the system and require a new migration from the old system to this one.</b>
</div>