<div class="chat-card">
  <h3>Alpha Testing</h3>
  <p>Thank you for participating in the alpha test of the SWN: Revised system for Foundry VTT. This system is still in development, and your feedback is invaluable to making it the best it can be. Please report any bugs or issues you encounter to the <a href="https://github.com/wintersleepAI/swnr-redux/issues" target="_blank">GitHub repository</a>.
  <b>Please only report bugs and not desired features at this time. We also know that the system UI/CSS needs clean-up but that will happen after we get the system out.</b>
  </p>

  <p>Most major functionality should be implemented with the exception of the Faction sheet.</p>

  <b>Please only use new worlds for this testing.  If you do not listen to this advice and attempt to migrate an old world make a manual back up of that world first!!</b>
</div>