<form class="">
  <div class="">
    <select name="skillList">
      <option value="revised">Revised SWN Skill List</option>
      <option value="cwn">CWN Skill List</option>
      <option value="classic">Classic (1E) Skill List</option>
      <option value="none">No Stock Skill List</option>
      {{!-- <option value="compendiumList">Use a Compendium Skill List</option> --}}
    </select>
  </div>
  <div>
    <select name="extra">
      <option value="none">No Extra Skills</option>
      <option value="psionic">Add Psychic Skills</option>
      <option value="spaceMagic">Add Space Magic Skills</option>
    </select>
  </div>
</form>
