<div class="flexcol standard-form">
  {{!-- <div class="form-group">
    <label for="baseCurrencyName">Base Currency Name</label>
    <input type="text" name="baseCurrencyName" value="{{baseCurrencyName}}">
  </div> --}}


 {{formGroup fields.baseCurrencyName value=settings.currency.baseCurrencyName localize=true}}
 {{formGroup fields.baseCurrencyEnc value=settings.currency.baseCurrencyEnc localize=true}}

</div>