@use "../utils/typography";

// Window Global Styles 

.window-app {
  font-family: typography.$font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: var(--swnr-c-black);
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}