@use "sass:meta";
// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global styles */
@include meta.load-css('utils/colors');
@include meta.load-css('global/window');
@include meta.load-css('global/grid');
@include meta.load-css('global/flex');

@include meta.load-css("utils/system-variables");

@include meta.load-css('components/chat');

/* Styles limited to swnr sheets */
.swnr {
  @include meta.load-css('components/forms');
  @include meta.load-css('components/resource');
  @include meta.load-css('components/items');
  @include meta.load-css('components/effects');
  @include meta.load-css("components/buttons");
}