<header class='sheet-header'>
  <div class="item-img"><!-- Profile Image -->
    <img
      class='item-img'
      src='{{item.img}}'
      data-edit='img'
      data-action='onEditImage'
      title='{{item.name}}'
    />
  </div>
  <div class='header-fields'>
    <div class='document-name'>
      <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
    </div>
    {{! You may prefer to have a separate header file instead of this if statement}}

  </div>
</header>