<header class='sheet-header flexcol'>
  <div class="flexcol" style="gap: 16px; margin-bottom: 16px;">
    <div class='resource'>
      {{! stat}}
      {{formGroup systemFields.rank value=system.rank localize=true}}
    </div>
    <div class='resource'>
      {{! stat}}
      {{formGroup systemFields.pool value=system.pool localize=true}}
    </div>
    <div class='resource'>
      {{! stat}}
      {{formGroup systemFields.defaultStat value=system.defaultStat localize=true}}
    </div>
  </div>
</header>